---
webservers_stack:
    php: true
    apache2: true
    mariadb: false
    mysql: true
    nvm: true
    golang: false
    redis: false
    memcached: false
    git: false

apache2_sites:
    localhost:
        apache2_document_root: /var/www/html
        apache2_server_admin: webmaster@localhost
        apache2_server_aliases:
            - localhost
        php_version: "8.2"

    some-example.local.test:
        apache2_document_root: /home/vagrant/ansible-devbox/public
        apache2_server_admin: webmaster@localhost
        apache2_server_aliases:
            - some-example.local.test
            - www.some-example.local.test
        php_version: "8.2"

mysql_databases:
    - devbox_mysql

mariadb_databases:
    - devbox_mariadb

golang_version: 1.21.0

java_packages:
    - openjdk-18-jre
    - openjdk-18-jdk
    - openjdk-18-demo
    - openjdk-18-doc
    - openjdk-18-jre-headless
    - openjdk-18-source

java_home: ""

git_workspace: /home/vagrant

git_config_user:
    name: vagrant
    email: some@example.com

#php_versions:
#  - "8.3"
#  - "8.2"
#  - "8.1"
#  - "8.0"
#  - "7.4"
#  - "7.3"
#  - "7.2"
#  - "7.1"
#  - "7.1"
#  - "5.6"
