zend_extension=xdebug.so
xdebug.client_host = {{ php_xdebug.client_host }}
xdebug.discover_client_host = {{ php_xdebug.discover_client_host }}
xdebug.idekey = {{ php_xdebug.idekey }}
xdebug.max_nesting_level = {{ php_xdebug.max_nesting_level }}
xdebug.mode = {{ php_xdebug.mode }}
xdebug.start_with_request = {{ php_xdebug.start_with_request }}
