{
    "hostname": "devbox",
    "ip": "192.168.60.17",
    "memory": "2048",
    "cpus": 2,
    "provider": "virtualbox",
    "ubuntu_version": "2004",
    "should_guest_know_the_host_network": false,
    "use_gpu_passthrough": true,
    "forwarded_ports": [
        {
            "guest": 80,
            "host": 8000,
            "auto_correct": true
        },
        {
            "guest": 443,
            "host": 44300,
            "auto_correct": true
        },
        {
            "guest": 2375,
            "host": 42375
        }
    ],
    "disks": {
        "default": {
            "size": "42GB"
        }
    },
    "folders": [
        {
            "from": "../../playground",
            "to": "/home/vagrant/playground"
        }
    ]
}
