---
-   name: Make $host_user root
    user:
        name: "{{ common_user }}"
        groups: sudo
        append: yes
    tags:
        - common_setup

-   name: Add .bash_aliases
    template:
        src: aliases
        dest: "{{ common_bash_aliases_path }}"
    tags:
        - common_setup

-   name: Add custom aliases
    blockinfile:
        path: "{{ common_bash_aliases_path }}"
        block: |-
            {{ common_extra_bash_aliases }}
        marker: "# {mark} Ansible(smoothie.common): Add custom aliases"
    register: custom_alias_changes
    changed_when: custom_alias_changes.changed
    when: >
        common_extra_bash_aliases | default(false)
    tags:
        - common_setup

-   name: Install common packages
    apt:
        name: "{{ common_packages | join(',') }}"
        state: present
    tags:
        - common_setup


-   name: Keep bash_completion when suing
    blockinfile:
        path: /root/.bashrc
        block: |
            if [ -f /etc/bash_completion ] && ! shopt -oq posix; then
                . /etc/bash_completion
            fi
        marker: "# {mark} Ansible(smoothie.common): Keep bash_completion when suing"
    tags:
        - common_setup

-   name: Check for existent symlink sources
    stat:
        path: "{{ item.source }}"
    loop: "{{ common_apply_symlinks | default([], true) }}"
    register: check_common_existent_symlink_resources
    tags:
        - common_setup

-   name: Apply symlinks
    file:
        src: "{{ item.item.source }}"
        dest: "{{ item.item.target }}"
        state: link
    loop: "{{ check_common_existent_symlink_resources.results | default([], true) }}"
    loop_control:
        label: "source: {{ item.item.source | default('none', true) }}, target: {{ item.item.target | default('none', true) }}"
    when: >
        item.stat.exists | default(false)
    tags:
        - common_setup

-   name: Create service units
    template:
        src: unit.service.j2
        dest: "{{ common_systemd_service_path }}{{ item.name }}"
    loop: "{{ common_systemd_units | default([], true) }}"
    loop_control:
        label: "{{ common_systemd_service_path + item.name | default('none', true) }}"
    when: >
        common_systemd_units is defined | default(false)
    tags:
        - common_setup

-   name: Reload service daemon
    systemd:
        daemon_reload: true
    when: >
        common_systemd_units is defined | default(false)
    tags:
        - common_setup

-   name: Start and enable service units
    systemd:
        enabled: true
        name: "{{ item.name }}"
        state: started
        no_block: true
    loop: "{{ common_systemd_units | default([], true) }}"
    loop_control:
        label: "{{ common_systemd_service_path + item.name | default('none', true) }}"
    when: >
        common_systemd_units is defined | default(false)
    tags:
        - common_setup
