{% if item.value.apache2_locations is defined -%}
    ProxyPreserveHost On
    ProxyRequests Off

    {% for from_path, to_url in item.value.apache2_locations.items() -%}
    <Location {{ from_path }}>
        ProxyPass {{ to_url }}
        ProxyPassReverse {{ to_url }}
    </Location>
    {% endfor %}
{% endif %}
