---
webservers_stack:
    php: true
    apache2: true
    mariadb: false
    mysql: true
    nvm: true
    golang: false
    redis: false
    memcached: false
    git: false
    git_pre_commit: false
    docker: false
    kubernetes: false
    kubectl: false
    k9s: false
    helm: false
    image_optimizers: false
    pdf_generation: false
    conftest: false
    gcloud_cli: false

apache2_sites:
    localhost:
        apache2_document_root: /var/www/html
        apache2_server_admin: webmaster@localhost
        apache2_server_aliases:
            - localhost
        php_version: "8.2"

    some-example.local.test:
        apache2_document_root: /home/vagrant/ansible-devbox/public
        apache2_server_admin: webmaster@localhost
        apache2_server_aliases:
            - some-example.local.test
            - www.some-example.local.test
        php_version: "8.2"

mysql_databases:
    - devbox_mysql

mariadb_databases:
    - devbox_mariadb

golang_version: 1.21.0

java_packages:
    - openjdk-18-jre
    - openjdk-18-jdk
    - openjdk-18-demo
    - openjdk-18-doc
    - openjdk-18-jre-headless
    - openjdk-18-source

java_home: ""

git_workspace: /home/vagrant

git_config_user:
    name: vagrant
    email: some@example.com

composer_keep_updated: true
composer_home_path: '/home/vagrant/.composer'
composer_home_owner: vagrant
composer_home_group: vagrant
composer_global_packages:
    - { name: ergebnis/composer-normalize }
    - { name: friendsofphp/php-cs-fixer }
    - { name: phpmd/phpmd }
    - { name: squizlabs/php_codesniffer }

docker_config:
    install_compose: true
    apt_filename: "docker"
    users:
        -

kubernetes_kube_config_path: '/root/k0s/k0s-admin.conf'
kubernetes_distro: 'k0s'
kubernetes_load_balancers:
    - 'metallb'

kubernetes_ingresses:
    - 'nginx'

k0s_cluster_config_path: '/root/k0s/k0s-cluster-config.yaml'

common_extra_bash_aliases: |-
    alias art=artisan

    function artisan() {
        php artisan "$@"
    }

common_apply_symlinks:
    - { source: '/opt/projects', target: '/home/vagrant/projects' }

#php_versions:
#  - "8.3"
#  - "8.2"
#  - "8.1"
#  - "8.0"
#  - "7.4"
#  - "7.3"
#  - "7.2"
#  - "7.1"
#  - "7.1"
#  - "5.6"
