#!/usr/bin/env ansible-playbook
---
-   hosts: webservers
    connection: local
    become: false
    roles:
        -   role: common
            become: true
            tags:
                - common

        -   role: geerlingguy.git
            become: true
            vars:
                workspace: "{{ git_workspace | default(/root) }}"
            when: webservers_stack.git | default(true)
            tags:
                - git

        -   role: git-config
            when: webservers_stack.git | default(true)
            tags:
                - git
                - git_config

        -   role: php
            become: true
            vars:
                php_user: "{{ host_user }}"
                php_group: "{{ host_group }}"
            when: webservers_stack.php | default(true)
            tags:
                - php

        -   role: geerlingguy.composer
            become: true
            when: webservers_stack.php | default(true)
            tags:
                - php
                - php_composer

        -   role: mysql
            become: true
            when: webservers_stack.mysql | default(false)
            tags:
                - mysql

        -   role: mariadb
            become: true
            when: webservers_stack.mariadb | default(true)
            tags:
                - mariadb

        -   role: apache2
            become: true
            vars:
                apache2_user: "{{ host_user }}"
                apache2_group: "{{ host_group }}"
            when: webservers_stack.apache2 | default(true)
            tags:
                - apache2

        -   role: nvm
            become: true
            vars:
                nvm_user: "{{ host_user }}"
                nvm_group: "{{ host_group }}"
            when: webservers_stack.nvm | default(true)
            tags:
                - nvm

        -   role: gantsign.golang
            when: webservers_stack.golang | default(false)
            tags:
                - golang

        -   role: geerlingguy.java
            become: true
            when: webservers_stack.java | default(false)
            tags:
                - java

        -   role: geerlingguy.redis
            become: true
            when: webservers_stack.redis | default(false)
            tags:
                - redis

        -   role: geerlingguy.memcached
            become: true
            when: webservers_stack.memcached | default(false)
            tags:
                - memcached

        -   role: geerlingguy.docker
            become: true
            vars:
                docker_users: "{{ [ host_user ] + docker_config.users | default([]) | select() | list }}"
                docker_install_compose: false
                docker_install_compose_plugin: docker_config.install_compose | true
            when: webservers_stack.docker | default(false)
            tags:
                - docker
